/*
 * jQuery Nivo Slider v2.6
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
#slider-container{
	margin: 0 -20px;
	width:980px;
	height:601px;
	overflow: visible;
	background:url(../images/thumb_bg.gif) 0 bottom repeat-x #fdfdfd
	}
 
#slider{
	width:980px;
	height:601px;
	margin:0;
	padding:0;
	}
	
ul.nivoSlider li{list-style:none;}
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	background:#fdfdfd url(../images/system/loader.gif) no-repeat 50% 50%;
	overflow: visible;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption { display:none;
}
.nivo-caption .caption-body { display:none
	margin:0;
}

.nivo-caption .caption-body p{ display:none;}

.nivo-caption a {
}

.nivo-caption-inner{
	padding:70px 56px 0;}

.nivo-caption .intro_space{
	}

.nivo-caption .intro_space strong{
	color:#fff;
	display:block;
	text-align:center;
	margin:auto;
	padding-bottom:17px;
	}
	
.nivo-caption .moduleItemReadMore-wrapper{
	text-align:center;
	}
	
.nivo-caption .moduleItemReadMore{
}
	
.nivo-caption .intro_space span.white{
	color:#fff;}


.nivo-html-caption {
    display:none;
}

.nivo-caption .nivo-caption-inner .intro_space em{
	line-height:24px;}


/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
	background:#900;
	/*background:url(../images/slider-dir-nav.png) no-repeat;*/
	display:block;
	width:20px;
	height:20px;
	font-size:1px;
	text-indent:-9999em;
}
.nivo-directionNav a.nivo-prevNav {
	left:0px;
	/*background-position: left top;*/
}
.nivo-directionNav a.nivo-nextNav {
	right:0px;
	/*background-position: right top;*/
}

.nivo-directionNav a.nivo-prevNav:hover{
	background:#F00;
	/*background-position: left -138px;*/
	}

.nivo-directionNav a.nivo-nextNav:hover{
	background:#F00;
	/*background-position: right -138px;*/
	}
	
	
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav{
    bottom: -98px;
    position: absolute;
	left:20px;
	}

.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
	width:140px;
	height:78px;
	display:block;
	text-indent:-9999px;
	float:left;
	margin: 0 20px 0 0;
	background:url(../images/thumb.gif) 0 0 repeat-x #212222;
	border-radius:3px;
	box-shadow:0 2px 5px rgba(0,0,0,.25);
}
.nivo-controlNav a strong{ content:""; background:url(../images/marker_thumb.png) center 0 no-repeat; position:absolute; top:0; left:0; width:100%; height:0px;transition: all 0.5s;   -webkit-transition: all 0.5s; /* Safari and Chrome */   -moz-transition: all 0.5s; /* Firefox 4 */   -o-transition: 

all 0.5s; /* Opera */}

.nivo-controlNav a img{ margin-top:6px; margin-left:6px;}

.nivo-controlNav a img{ display:block}

.nivo-controlNav a.active,
.nivo-controlNav a:hover {
	background:url(../images/thumb_active.gif) 0 0 repeat-x #e1dfdf
}
.nivo-controlNav a.active strong,
.nivo-controlNav a:hover strong{top:-6px;height:6px}

