.ui-tabs { position: relative; padding: 0; zoom: 1; overflow:hidden !important; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0;}
.ui-tabs .ui-tabs-nav li { }
.ui-tabs .ui-tabs-nav li a {  }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }


div.k2ItemsBlock.tabs a.moduleItemImage{
	border:1px solid #666666;
	float:left;
	display:block;
	margin-right:20px;
    margin-top: 4px;

	}
	
div.k2ItemsBlock.tabs .ui-tabs-nav{ float:left; width:300px; margin-right:20px;}
	
div.k2ItemsBlock.tabs .ui-tabs-nav li{ padding-bottom:2px;}
	
div.k2ItemsBlock.tabs .ui-tabs-nav li a{ display:block; background:url(../images/tabs_bg.gif) 0 0 repeat-x #dbd9d9; border-bottom:1px solid #e9e8e8; border-radius:3px; color:#191919; font-size:15px;font-family: 'Ubuntu', sans-serif; line-height:34px; padding:0 12px
}
	
div.k2ItemsBlock.tabs .ui-tabs-nav li a:hover,
div.k2ItemsBlock.tabs .ui-tabs-nav li.ui-state-active a{
	color:#fff; background:url(../images/tabs_active.gif) 0 0 repeat-x #0aa2eb; border-bottom-color:#0aa2eb
}

div.k2ItemsBlock.tabs .ui-tabs-panel{ float: left; width:620px; padding:0}
		
div.k2ItemsBlock.tabs div.moduleItemIntrotext strong { display:block;
    padding-bottom: 5px;
}
div.k2ItemsBlock.tabs div.moduleItemIntrotext p{ padding-bottom:34px;}
