
.cls{
	clear: both;
}

#detail_info_body{
	display: none;
}

.add_opinion_block{
	display: none;
}

#search-loader {
	display: none;
}

/*
*	@ Home Page Component Styles 
*	
*/

.primary-search-btn{
	width: 200px !important;
}

.default_search{
	margin: 5px;
}

.logout-floats{
	float: left;
}

.rt-block.geocars_login{
	padding: 0px;
	margin: 0px;
}

.login-greeting{
	padding: 5px;
	margin-left: 10px;
}

.logout-button{
	padding: 2px;
	padding-left: 5px;
	padding-right: 6px;
}

.user_name_wellcome{
	padding: 0px;
	margin: 0px;
}

.slogin-buttons a{
	margin-top: 23px !important;
}

#slogin-buttons{
	height: 85px !important;
}

.opinion_row{
	border: 1px solid lightgray;
	height: auto;
	margin-bottom: 5px;
	padding: 5px;
}

.opinion-float-block{
	float: left !important;
}

.default-row{
	border-left: 5px solid gray;
}


.good-row{
	border-left: 5px solid green;
}

.bad-row{
	border-left: 5px solid red;
}


.opinion-text{
	padding-left: 10px;
}

.add-opinion-block{
	margin-bottom: 20px;
}

.opinion-textarea{
	width: 100%;
}

.allow-symbols{
	margin-top: 20px;
}

.car-float-block{
	float: left;
}

.car-right-block{
	padding-left: 20px;
	margin-bottom: 20px;
}

.like_button_div{
	margin-top: 10px;
}

.share-button{
	margin-bottom: 10px;
}

.tab_content{
	display: none;
}

.tab_1_content{
	display: block;
}


@media all and (max-width: 1000px) and (min-width: 0px) {
  	
  	.search-block{
		text-align: center;
	}

	.slogin-buttons.geocars_login{
		text-align: center !important;
		height: 85px !important;
		margin-bottom: 50px;
	}

	.opinion-textarea{
		width: 95%;
	}

	.car-right-block{
		padding-left: 0px;
	}
}

	
}


